form.articleform {
    /* max-width: 1200px; */
    /* text-align: center; */
}

form.articleform > fieldset {
    margin: 0px auto;
}

form.articleform > fieldset > table {
    width: 100%;
    border-collapse: collapse;
}
form.articleform > fieldset > table > caption {
    text-align: right;
}

form.articleform > fieldset > table > tbody > tr > td.label {
    text-align: right;
    padding: 8px 4px;
    font-weight: bold;
    /* padding-right: 4px; */
    white-space: nowrap;
    display: block;
    min-width: 90%;
}
form.articleform .editor-iframe.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100% !important;
}

/** Row **/
form.articleform > fieldset > table > tbody > tr:not(.odd) {
    background-color: #0001;
}

/** Form Input **/


form.articleform input[type=text],
form.articleform input[type=email],
form.articleform input[type=password],
form.articleform select,
form.articleform textarea {
    min-width: 90%;
}

/** Form Actions **/

form.articleform .action-edit {
    font-size: x-small;
    text-decoration: none;
}


form.articleform textarea.editor-plain {
    min-height: 600px;
}
