form.task {
    max-width: 620px;
}

form.task > fieldset {
    margin: 0px auto;
}

form.task > fieldset > table {
    width: 100%;
    border-collapse: collapse;
}
form.task > fieldset > table > caption {
    /* font-weight: bold; */
    /*font-style: italic;*/
    text-align: left;
    /* padding-bottom: 1em; */
}
/** Form Input **/

form.task input[type=text],
form.task input[type=email],
form.task input[type=password],
form.task select,
form.task textarea {
    min-width: 90%;
}

/** Form Actions **/

form.task .action-edit {
    font-size: x-small;
    text-decoration: none;
}

/** Row **/
form.task tr.odd {
    background-color: #0001;
}

/** Labels **/

form.task td.label {
    text-align: right;
    padding: 8px 8px 8px 0px;
    font-weight: bold;
    white-space: nowrap;
    display: block;
    min-width: 90%;
}
form.task td.label:after {
    content: ':'
}


/** Custom Forms **/

form.task-register {
    /*text-align: center;*/
}


/** Tables **/

table.task {
    width: 100%;
}

table.task .icon-edit {
    text-decoration: none;
}

/** Row **/
table.task tr.odd {
    background-color: #0001;
}

/** Labels **/

table.task td.label {
    text-align: right;
    padding: 8px 8px 8px 0px;
    font-weight: bold;
    white-space: nowrap;
    display: block;
    min-width: 90%;
}
table.task td.label:after {
    content: ':'
}

table.task td > p {
    text-align: justify;
    text-indent: 8px;
}


/** Task List **/
task-manager ul.results {
    list-style: none;
    padding: 0 0;
}