<!DOCTYPE html>
<html>
    <head>
        <title>Arizona Friends of the Homeless</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="keywords" CONTENT="arizona, friends of the homeless, resources, links">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="app/theme/minimal/minimal.css" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
    </head>

    <body class='theme-minimal'>
        <header>
            <div class="logo"></div>
            <a href="../server" class="logo-text">
                Arizona Friends of Homeless
            </a>
        </header>

        <nav>
            <ul>
                <li><a href="../server">Home</a></li>
                <li><a class="selected" href="about.html">About Us</a></li>
                <li><a href="https://www.facebook.com/groups/arizonafriendsofhomeless/files/#mission.html">Homeless
                    Resources</a></li>
                <li><a href="https://www.facebook.com/groups/arizonafriendsofhomeless/files/#help.html">AFOH Outreach</a></li>
                <li><a href="https://www.facebook.com/groups/arizonafriendsofhomeless/files/#donate.html">Contribute /
                    Volunteer</a></li>
                <li><a href="https://www.facebook.com/groups/arizonafriendsofhomeless/#contact.html">Contact Us</a></li>
            </ul>
        </nav>

        <article>
            <section>
                <ul class="flex-list">
                    <li>
                        <h2>Local AZ Outreach</h2>
                        <p>
                            It's all about the homeless. From local to nationwide and elsewhere,
                            our focus is on homelessness issues and coming up with solutions with the local community.
                        </p>
                    </li>
                    <li>
                        <img class="box-shadow" src="image/afoh1.jpg" alt="Local Outreach">
                    </li>
                </ul>
                <ul class="flex-list">
                    <li>
                        <img class="box-shadow" src="image/afoh2.jpg" alt="Local Outreach">
                    </li>
                    <li>
                        <h2>Social Media Hub</h2>
                        <p>
                            It's all about the homeless. From local to nationwide and elsewhere,
                            our focus is on homelessness issues and coming up with solutions with the local community.
                        </p>
                    </li>
                </ul>
                <ul class="flex-list">
                    <li>
                        <h2>Resources Directory</h2>
                        <p>
                            It's all about the homeless. From local to nationwide and elsewhere,
                            our focus is on homelessness issues and coming up with solutions with the local community.
                        </p>
                    </li>
                    <li>
                        <img class="box-shadow" src="image/afoh10.jpg" alt="Local Outreach">
                    </li>
                </ul>
                <ul class="flex-list">
                    <li>
                        <img class="box-shadow" src="image/afoh4.jpg" alt="Local Outreach">
                    </li>
                    <li>
                        <h2>Shoes Project</h2>
                        <p>
                            It's all about the homeless. From local to nationwide and elsewhere,
                            our focus is on homelessness issues and coming up with solutions with the local community.
                        </p>
                    </li>
                </ul>
                <ul class="flex-list">
                    <li>
                        <h2>Bikes Project</h2>
                        <p>
                            It's all about the homeless. From local to nationwide and elsewhere,
                            our focus is on homelessness issues and coming up with solutions with the local community.
                        </p>
                    </li>
                    <li>
                        <img class="box-shadow" src="image/afoh5.jpg" alt="Local Outreach">
                    </li>
                </ul>
                <ul class="flex-list">
                    <li>
                        <img class="box-shadow" src="image/afoh6.jpg" alt="Local Outreach">
                    </li>
                    <li>
                        <h2>Teddy Bears Project</h2>
                        <p>
                            It's all about the homeless. From local to nationwide and elsewhere,
                            our focus is on homelessness issues and coming up with solutions with the local community.
                        </p>
                    </li>
                </ul>
            </section>
        </article>

        <footer>
            <ul class="flex-list">
                <li>
                    <h2>Contact Us</h2>
                    <p>
                        Telephone:

                        Fax:

                        Address

                        Address

                        Address

                        Email
                    </p>
                    <a class="created-by" target='_blank' href='https://github.com/clevertree/afoh-site'>Created by
                        CleverTree</a>
                </li>
                <li>
                    <h2>Acts of Kindness</h2>
                    <p>
                        AFOH performs outreach at various locations in the Phoenix Valley on a daily and weekly basis.
                        Click here for more info about our outreach routes and schedules.
                    </p>
                </li>
                <li>
                    <h2>Get Involved!</h2>
                    <p>
                        AFOH on Facebook is a hub for the Phoenix Valley to connect on homelessness issues,
                        find opportunities for kindness, and for the homeless to access programs they need for shelter and
                        resources
                    </p>
                </li>
            </ul>
        </footer>
    </body>
</html>
