<section class="highlight box-shadow">
    <ul class="flex-list">
        <li>
            <h1 class="themed" id="activities">Welcome to AFOH!</h1>
            <p class="themed">
                AFOH provides several directories of shelters & housing, food banks & kitchens,
                as well as directories for local homelessness programs, services, and organizations in the Valley.

                AFOH performs outreach at various locations in the Phoenix Valley on a daily and weekly basis.
                Click here for more info about our outreach routes and schedules.
                AFOH on Facebook is a hub for the Phoenix Valley to connect on homelessness issues,
                find opportunities for kindness, and for the homeless to access programs they need for shelter and resources
            </p>
        </li>
        <li>

            <div class="image-container">
                <img class="box-shadow" src="/file/image/food_supplies1.jpg" alt="Service To Others">
            </div>
            <br>
            <br>
            <div class="page-quote">
                "Many hands make light work."
            </div>
        </li>
    </ul>
</section>
<section>
    <ul class="flex-list">
        <li>
            <div class="image-container">
                <a href="/file/image/food_supplies2.jpg" target="_blank">
                    <img class="box-shadow" src="/file/image/food_supplies2.jpg" alt="Homeless Resources">
                </a>
            </div>
            <h2>Homeless Resources</h2>
            <p>
                AFOH provides several directories of shelters & housing, food banks & kitchens,
                as well as directories for local homelessness programs, services, and organizations in the Valley.
            </p>
        </li>
        <li>
            <div class="image-container">
                <a href="/file/image/service1.jpg" target="_blank">
                    <img class="box-shadow" src="/file/image/service1.jpg" alt="Local Outreach">
                </a>
            </div>
            <h2>Local Outreach</h2>
            <p>
                AFOH performs outreach at various locations in the Phoenix Valley on a daily and weekly basis.
                Click here for more info about our outreach routes and schedules.
            </p>
        </li>
        <li>
            <div class="image-container">
                <a href="/file/image/bears1.jpg" target="_blank">
                    <img class="box-shadow" src="/file/image/bears1.jpg" alt="Social Media Hub" />
                </a>
            </div>
            <h2>Social Media Hub</h2>
            <p>
                AFOH on Facebook is a hub for the Phoenix Valley to connect on homelessness issues,
                find opportunities for kindness, and for the homeless to access programs they need for shelter and resources
            </p>
        </li>
    </ul>
</section>