<section class="highlight box-shadow">
    <ul class="flex-list" style="align-items: center">
        <li>
            <h1 class="themed" id="activities"><span style="font-family: " advent="" pro";"="">Welcome to AFOH!</span></h1>
            <p>
                Arizona Friends of Homeless is a non-profit 501c3 charitable organization which serves the homeless of Arizona through our daily and weekly outreach, projects, connections to local services, (i.e. shelters and programs) and by providing homelessness-focused information to locals on events, programs, and news via social media.

                ​AFOH is laser-focused on homelessness issues whose aim is to be a hub for Arizonans to find hands-on, reasonable solutions in response to Phoenix's growing unsheltered homeless population. We welcome homelessness advocates, contributors, donors, organizations, and volunteers to come together and help us find and provide real solutions to growing homelessness concerns in Phoenix and Arizona statewide. It takes a community!
            </p>
        </li>
        <li>
            <script src="/app/element/slideshow/slideshow-player.client.js"></script>
            <slideshow-player>
                <img src="/file/image/food_supplies1.jpg" alt="Service To Others">
                <img src="/file/image/resources1.jpg" alt="Service To Others">
                <img src="/file/image/service5.jpg" alt="Local Outreach">
                <img src="/file/image/slideshow/slide1.jpg">
                <img src="/file/image/slideshow/slide2.jpg">
                <img src="/file/image/slideshow/slide3.jpg">
                <img src="/file/image/slideshow/slide4.jpg">
                <img src="/file/image/slideshow/slide5.jpg">
                <img src="/file/image/slideshow/slide6.jpg">
                <img src="/file/image/slideshow/slide7.jpg">
                <img src="/file/image/slideshow/slide8.jpg">
                <img src="/file/image/slideshow/slide9.jpg">
                <img src="/file/image/slideshow/slide10.jpg">
                <img src="/file/image/slideshow/slide11.jpg">
                <img src="/file/image/slideshow/slide12.jpg">
            </slideshow-player>
            <div class="page-quote">
                "Many hands make light work."
            </div>
        </li>
    </ul>
</section>
<section>
    <ul class="flex-list">
        <li>
            <div class="image-container">
                <a href="https://www.afoh.info/resources" target="_blank">
                    <img class="themed" src="/file/image/resources1.jpg" alt="Homeless Resources">
                </a>
            </div>
            <h2><span style="font-family: Helvetica;">Homeless Resources</span></h2>
            <p>
                AFOH provides several <a href="https://www.afoh.info/resources">lists</a> of shelters & housing, food banks & kitchens, and directories for local homelessness services and organizations in Arizona.</p>
        </li>
        <li>
            <div class="image-container">
                <a href="https://www.afoh.info/projects" target="_blank">
                    <img class="themed" src="/file/image/service5.jpg" alt="Local Outreach">
                </a>
            </div>
            <h2><span style="font-family: Helvetica;">Local Outreach</span></h2>
            <p>
                AFOH performs outreach at various locations in the Phoenix on a daily and weekly basis.
                <br>
                Click <a href="https://www.afoh.info/projects">here</a> for more info about our outreach routes and schedules.
            </p>
        </li>
        <li>
            <div class="image-container">
                <a href="https://www.facebook.com/groups/arizonafriendsofhomeless/" target="_blank">
                    <img class="themed" src="/file/image/socialmedia.jpg" alt="Social Media Hub">
                </a>
            </div>
            <h2><span style="font-family: Helvetica;">Social Media Hub</span></h2>
            <p>
                AFOH on <a href="https://www.facebook.com/groups/arizonafriendsofhomeless/" target="_blank">Facebook</a> is a hub for Arizona residents to connect on homelessness issues,
                find opportunities for kindness, and for the homeless to access programs they need for resources, shelter, and support.</p>
        </li>
    </ul>
</section>