<article data-path="home" class="page-view selected">
            <section class="highlight box-shadow">
                <form action="/login" method="POST">
                    <fieldset>
                        <label>Email:
                            <input type="text" name="email" value="admin@afoh.info" required/>
                        </label>
                        <br/>
                        <label>Password:
                            <input type="password" name="password" value="1" required/>
                        </label>
                        <br/>
                        <label>
                            <button type="submit">Login</button>
                        </label>
                    </fieldset>
                </form>
                <form action="/register" method="POST">
                    <fieldset>
                        <label>Email:
                            <input type="text" name="email" value="admin@afoh.info" required/>
                        </label>
                        <br/>
                        <label>Password:
                            <input type="password" name="password" value="1" required/>
                        </label>
                        <br/>
                        <label>
                            <button type="submit">Login</button>
                        </label>
                    </fieldset>
                </form>
            </section>

            <section class="highlight box-shadow">
                <ul class="flex-list">
                    <li>
                        <h1 class="themed" id="activities">Welcome to AFOH!</h1>

                        <p class="themed">
                            AFOH provides several directories of shelters & housing, food banks & kitchens,
                            as well as directories for local homelessness programs, services, and organizations in the Valley.

                            AFOH performs outreach at various locations in the Phoenix Valley on a daily and weekly basis.
                            Click here for more info about our outreach routes and schedules.
                            AFOH on Facebook is a hub for the Phoenix Valley to connect on homelessness issues,
                            find opportunities for kindness, and for the homeless to access programs they need for shelter and resources
                        </p>
                    </li>
                    <li>
                        <img class="themed" style="margin-top: 40px;" src="file/image/service1.jpg" alt="Service To Others">
                    </li>
                </ul>
            </section>
            <section>
                <div class="page-quote">
                    "The best way to find yourself is to lose yourself in the service of others."
                </div>
                <ul class="flex-list">
                    <li>
                        <a href="../image/service2.jpg" target="_blank">
                            <img class="themed" src="file/image/service2.jpg" alt="Homeless Resources">
                        </a>
                        <h2>Homeless Resources</h2>
                        <p>
                            AFOH provides several directories of shelters & housing, food banks & kitchens,
                            as well as directories for local homelessness programs, services, and organizations in the Valley.
                        </p>
                    </li>
                    <li>
                        <a href="../image/service3.jpg" target="_blank">
                            <img class="themed" src="file/image/service3.jpg" alt="Local Outreach">
                        </a>
                        <h2>Local Outreach</h2>
                        <p>
                            AFOH performs outreach at various locations in the Phoenix Valley on a daily and weekly basis.
                            Click here for more info about our outreach routes and schedules.
                        </p>
                    </li>
                    <li>
                        <a href="../image/service4.jpg" target="_blank">
                            <img class="themed" src="file/image/service4.jpg" alt="Social Media Hub">
                        </a>
                        <h2>Social Media Hub</h2>
                        <p>
                            AFOH on Facebook is a hub for the Phoenix Valley to connect on homelessness issues,
                            find opportunities for kindness, and for the homeless to access programs they need for shelter and resources
                        </p>
                    </li>
                </ul>
            </section>
        </article>
