<section>
    <script src="/server/user/element/userform-profile.client.js"></script>
    <userform-profile id="<%=id%>"></userform-profile>
    <script src="/server/user/element/userform-flag.client.js"></script>
    <userform-flag id="<%=id%>"></userform-flag>
    <script src="/server/user/element/userform-changepassword.client.js"></script>
    <userform-changepassword id="<%=id%>"></userform-changepassword>
</section>
