form.userform {
    max-width: 520px;
}

form.userform > fieldset {
    margin: 0px auto;
    /* display: inline-block; */
}

form.userform > fieldset > table {
    width: 100%;
}
form.userform > fieldset > table > caption {
    /* font-weight: bold; */
    /*font-style: italic;*/
    text-align: left;
    /* padding-bottom: 1em; */
}
form.userform > fieldset > table > tbody > tr > td:first-child {
    width: 25%;
}
/*element.userform > fieldset > table > tbody > tr > td:nth-child(2){*/
    /*width: 25%;*/
/*}*/
form.form-article-edit .editor-iframe.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100% !important;
}

/** Form Messages **/

form.userform div.success,
form.userform div.error {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 4px;
}
form.userform div.success {
    color: #f5fbf2;
    background: #118c09;
}
form.userform div.error {
    color: #fee;
    background: #d25757;
}