
<section style="position: relative; background: url('../file/image/service1.jpg'); background-size: cover;">
    <br/>
    <div class="themed" style="margin: 4em; padding: 1em 2em; text-align: justify;">
        <h2>About Us</h2>
        <p>
            It's all about the homeless. From local to nationwide and elsewhere, our focus is on homelessness issues and coming up with solutions with the local community.
            Arizona Friends of Homeless is a non-profit 501c3 organization which serves the homeless through daily outreach, connections
            to local services, shelters, and programs, and provides awareness to the general public, members, advocates, donors,
            and volunteers on homelessness issues for Arizonans. Arizona Friends of Homeless hands out
            food, clothing, blankets, towels, hygiene packs, ponchos, socks, back packs, bikes, shoes, pet food and more
            relief items to the homeless at various locations within Phoenix where need is great.
        </p>
    </div>
    <br/>
    <span class="text-bottom-right highlight">
                            "Poverty is not a fate, it is a condition. It is not a misfortune, it is an injustice."
                        </span>
</section>
<section>

    <h2>Who We Are...</h2>

    <br/><br/><br/><br/>


    <h2>What We Do...</h2>

    <ul class="flex-list">
        <li class="box-shadow" style="margin: 4px; background: url('../file/image/service1.jpg'); background-size: cover;">
            <br/><br/><br/><br/>
            <div class="themed" style="padding: 1px 1em;">
                <a href="/outreach">
                    <h3>Outreach</h3>
                </a>
            </div>
        </li>
        <li class="box-shadow" style="margin: 4px; background: url('../file/image/service2.jpg'); background-size: cover;">
            <br/><br/><br/><br/>
            <div class="themed" style="padding: 1px 1em;">
                <a href="/resources">
                    <h3>Resources</h3>
                </a>
            </div>
        </li>
        <li class="box-shadow" style="margin: 4px; background: url('../file/image/service3.jpg'); background-size: cover;">
            <br/><br/><br/><br/>
            <div class="themed" style="padding: 1px 1em;">
                <a href="/projects">
                    <h3>Projects</h3>
                </a>
            </div>
        </li>
        <li class="box-shadow" style="margin: 4px; background: url('../file/image/service4.jpg'); background-size: cover;">
            <br/><br/><br/><br/>
            <div class="themed" style="padding: 1px 1em;">
                <a href="/social">
                    <h3>Social Media</h3>
                </a>
            </div>
        </li>
    </ul>

    <h2>Get Involved...</h2>

    <ul class="flex-list">
        <li class="box-shadow" style="margin: 4px; background: url('../file/image/help1.jpg'); background-size: cover;">
            <p class="highlight themed">
                AFOH is a hub for volunteers to find their niche. We believe that everyone can and should be allowed to help in some way.
                Current Needs: Sandwich helpers, Mesa outreach, goods transportation.
                Contact: Mike Atanasio
                <br/><br/><br/><br/>
            </p>
            <div class="themed" style="padding: 1px 1em;">
                <a href="/volunteer">
                    <h3>Volunteer</h3>
                </a>
            </div>
        </li>
        <li class="box-shadow" style="margin: 4px; background: url('../file/image/help2.jpg'); background-size: cover;">
            <p class="highlight themed">
                AFOH is a non-profit, charitable organization. Every donation is utilized or spent on our homeless outreach efforts.
                Current Projects: AFOH Motor Home, AFOH Wash Morning @ Social Spin, Amazon Wishlist (ship donations to our door!)
                Current Needs: gloves, hats, blankets, shoes, socks, hygiene items, winter items.
                Contact: Mike Atanasio
            </p>
            <div class="themed" style="padding: 1px 1em;">
                <a href="/donate">
                    <h3>Donate</h3>
                </a>
            </div>
        </li>
        <li class="box-shadow" style="margin: 4px; background: url('../file/image/streets18.jpg'); background-size: cover;">
            <p class="highlight themed">
                Learn about homelessness issues in Arizona with AFOH on social media. Locals can connect to organizations, events, or share their own in our Facebook group!
                Current Pages AFOH, AFOH Issues
                <br/><br/><br/><br/>
            </p>
            <div class="themed" style="padding: 1px 1em;">
                <a href="/social">
                    <h3>Your Voice</h3>
                </a>
            </div>
        </li>
    </ul>
</section>