<section class="highlight box-shadow">
    <ul class="flex-list" style="align-items: center">
        <li>
            <h1 class="themed" id="activities">Welcome to <%=hostname || "Website"%>!</h1>
            <p>
            </p>
        </li>
        <li>
        </li>
    </ul>
</section>