            <section class="themed">
                <form action="/login" method="POST">
                    <fieldset>
                        <label>Email:
                            <input type="text" name="email" value="admin@afoh.info" required/>
                        </label>
                        <br/>
                        <label>Password:
                            <input type="password" name="password" value="1" required/>
                        </label>
                        <br/>
                        <label>
                            <button type="submit">Login</button>
                        </label>
                    </fieldset>
                </form>
                <form action="/register" method="POST">
                    <fieldset>
                        <label>Email:
                            <input type="text" name="email" value="admin@afoh.info" required/>
                        </label>
                        <br/>
                        <label>Password:
                            <input type="password" name="password" value="1" required/>
                        </label>
                        <br/>
                        <label>
                            <button type="submit">Login</button>
                        </label>
                    </fieldset>
                </form>
            </section>