

/** Messages **/
.theme-minimal div.message,
.theme-minimal div.success,
.theme-minimal div.error {
    padding: 0.5em;
    margin: 0.5em auto;
    border-radius: 2px;
    max-width: 760px;
}
.theme-minimal div.message {
    color: #000;
    background: #0002;
}
.theme-minimal div.success {
    color: #f5fbf2;
    background: #118c09;
}
.theme-minimal div.error {
    color: #fee;
    background: #d25757;
}




/** Form Inputs **/
.theme-minimal form.themed input:not([type=checkbox]):not([type=radio]),
.theme-minimal form.themed select,
.theme-minimal form.themed textarea,
.theme-minimal form.themed button {
    padding: 2px 3px 2px 3px;
    margin: 0px 2px 0px 0px;
    border-radius: 4px;
    border-width: 1px;
    font-size: large;
}
.theme-minimal form.themed input:not([type=checkbox]):not([type=radio]),
.theme-minimal form.themed select,
.theme-minimal form.themed textarea {
    /* min-width: 400px; */
}

.theme-minimal form.themed textarea {
     min-height: 100px;
}
.theme-minimal form.themed input[type=checkbox] {
    width: 1.5em;
    height: 1.5em;
    /*vertical-align: middle;*/
    /*margin: 0 0px 4px 0px;*/
}

.theme-minimal form.themed input[type=submit].themed,
.theme-minimal form.themed button.themed {
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}
.theme-minimal form.themed input:disabled,
.theme-minimal form.themed button:disabled {
    cursor: not-allowed;
}





/** Table **/
.theme-minimal table.themed {
    margin: 1em auto;
    padding: 1em;
    border-radius: 4px;
    background: #CCC;
    color: #000;
    font-family: monospace;
    box-shadow: #777 1px 1px 2px;
}


.theme-minimal table.themed > caption {
    color: #333;
    padding: 2px 8px;
    font-weight: bold;
    border-radius: 4px 4px 0px 0px;
    background: #CCC;
    box-shadow: #777 1px 0px 2px;
}

/** Table Row **/
.theme-minimal table.themed > tr.odd,
.theme-minimal table.themed > tbody > tr.odd {
    background-color: #0001;
}



/** Labels **/

.theme-minimal table.themed td:first-child {
    /* vertical-align: top; */
    /* padding: 3px; */
    /* width: 20%; */
}
.theme-minimal table.themed td:first-child > label {
    text-align: right;
    display: block;
    padding: 3px;
    /* vertical-align: top; */
    /* white-space: nowrap; */
    max-width: 232px;
}



