/** Import Font **/
/* vietnamese */
@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v10/pxiKyp0ihIEF2isQFJXGdg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v10/pxiKyp0ihIEF2isRFJXGdg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v10/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/** Background **/
body.theme-minimal-snes {
    background: #111;
    /*background: #111 url(texture/default.background.png) no-repeat fixed center;*/
    max-width: 80em;
    margin: 0 auto;
    /*background: #b5b6e4 url(texture/default.background.png) no-repeat fixed center;*/
    font-family: 'Advent Pro', monospace;
    /*font-size: 16px;*/
}



/** Hyperlinks **/
.theme-minimal-snes > header a,
.theme-minimal-snes > footer a,
.theme-minimal-snes > article > section a {
    /*color: #FFF;*/
    /*text-decoration: none;*/
    /* text-decoration-color: #CCCC; */
}

body.theme-minimal-snes > header a:not(:hover) {
    text-decoration: none;
}




/** Header **/
body.theme-minimal-snes > header {
    /* background: linear-gradient(to top, #EEE 0%, #CCC 100%); */
    text-align: center;
    /* border-bottom: solid 1px #CCC; */
}

/** Title Text **/
body.theme-minimal-snes > header h1 {
    display: inline-block;
    max-width: 300px;
}

/** Title Logo **/
body.theme-minimal-snes > header img.logo {
    vertical-align: top;
    max-width: 400px;
    max-height: 100px;
    margin: 4px;
    object-fit: contain;
}

/** Footer **/
body.theme-minimal-snes > footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* background: linear-gradient(to bottom, #EEE 0%, #CCC 100%); */
}


/** Page Articles & Sections **/
body.theme-minimal-snes > section,
body.theme-minimal-snes > article > section,
body.theme-minimal-snes > footer {
    /*margin: 6px auto;*/
    /* max-width: 800px; */
    /*padding: 1px 16px;*/
    /* border: 1px solid #CCC; */
}

.theme-minimal-snes header,
.theme-minimal-snes footer {
    color: #DDD;
}

/** Page Articles **/
.theme-minimal-snes > article {
    padding: 0 0;
    /* background: #908a99; */
}

.theme-minimal-snes > article > section {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 1em;
}

.theme-minimal-snes > article > section:nth-child(even) {
    background: #ddd;
}

.theme-minimal-snes > article > section:nth-child(odd) {
    background: #bbb;
}

/** Navigation Menu Colors **/
.theme-minimal-snes content-nav ul.menu > li:hover > a,
.theme-minimal-snes content-nav ul.submenu {
    background-color: #DDDE;
}
.theme-minimal-snes content-nav ul.submenu > li:hover > a {
    background-color: #EEEE;
}

