/** Background Image **/
body.theme-minimal {
    background: #3d9be9 url(texture/default.background.png) no-repeat fixed center;
}

/** Theme: Minimal **/
.theme-minimal {
    color: #2b2b2b;
    margin: 0 auto;
    font-family: 'Advent Pro', monospace;
    font-size: 16px;
    /* line-height: 20px; */
}

.theme-minimal .highlight {
    color: #f5efd5;
    text-shadow: #000 1px 1px 1px;
    /* font-weight: bold; */
}

/** Header **/
.theme-minimal > header {
    background: url(texture/header.background.png);
    background-size: contain;
    /* padding: 1em; */
}

.theme-minimal > header .logo-container {
    max-width: 490px;
    margin: 0px auto;
    padding-top: 10px;
}

.theme-minimal > header .logo {
    background: url(logo/logo-header.png) no-repeat;
    margin: 0px auto;
    background-size: 100% auto;
    width: 36vw;
    height: 24vw;
    /* margin: 0.3em 1em; */
    /*float: left;*/
    /* float: right; */
}

.theme-minimal .logo-text {
    display: block;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    /* margin: 0.3em 1em; */
    text-decoration: none;
    color: rgb(255, 246, 212);
}

@media only screen and (min-width: 600px) {
    .theme-minimal > header .logo {
        width: 182px;
        height: 112px;
        float: right;
        margin-left: 17px;
        box-shadow: #0008 1px 4px 19px;
        /* height: 22vw; */
    }

    .theme-minimal .logo-text {
        text-align: center;
        text-shadow: #0008 4px 3px 9px;
    }
}

/** Anchors **/

.theme-minimal a {
    /* color: white; */
    text-decoration: none;
}

.theme-minimal a:hover {
    color: #f5ffa6;
}

/** Navigation **/

.theme-minimal nav {
    /*background-color: #333333;*/
}

.theme-minimal ul.nav-menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
}

.theme-minimal ul.nav-menu > li {
    display: table-cell;
}

.theme-minimal ul.nav-menu > li:hover {
    background-color: #6190a0;
    z-index: 2;
    border-radius: 4px 4px 0px 0;
}

.theme-minimal ul.nav-menu > li:hover > ul.nav-submenu > li:hover {
    background-color: #444;
    font-weight: bold;
}

.theme-minimal ul.nav-menu > li > a,
.theme-minimal ul.nav-submenu > li > a {
    color: white;
    /* font-weight: bold; */
    font-size: 18px;
    display: block;
    padding: 12px;
}

/** Sub Menu **/
.theme-minimal ul.nav-submenu {
    position: absolute;
    z-index: 2;
    background-color: #6190a0;
    list-style: none;
    padding: 0 0;
    text-align: right;
    border-radius: 0px 0px 4px 4px;
}

.theme-minimal ul.nav-submenu > li > a {
    /* font-weight: bold; */
    font-size: 14px;
    display: block;
    color: white;
    text-align: left;
    padding: 0.5em 0.5em 0.5em;
    text-decoration: none;
}

.theme-minimal li:not(:hover) > ul.nav-submenu {
    display: none;
}

/** Page Articles **/
.theme-minimal > article {
    padding: 0 0;
    background: #EEC455;
}

.theme-minimal > article > section {
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5em;
    background: #f5e7a8;
}

.theme-minimal p.highlight,
.theme-minimal div.highlight,
.theme-minimal section.highlight {
    background-color: #ab6428ed;
}

.theme-minimal div.message,
.theme-minimal section.message {
    background-color: rgba(111, 171, 102, 0.93);
}

/** Page Headings **/
.theme-minimal h1.themed,
.theme-minimal section > h1 {
    font-size: 2.5em;
    margin: 0px 0px 6px 0px;
    /* color: rgb(0, 101, 169); */
    font-weight: bold;
}

.theme-minimal h2.themed,
.theme-minimal section > h2 {
    font-size: x-large;
    /*     padding: 0 0.5em; */
    /* margin-top: 0; */
}

.theme-minimal h3.themed,
.theme-minimal section > h3 {
    font-size: larger;
    margin-left: .5em;
}

/** Paragraphs **/
.theme-minimal p.themed,
.theme-minimal section > p {
    text-align: justify;
    text-indent: 8px;
    /* max-width: 960px; */
    margin: 13px 4px 8px 4px;
    line-height: 20px;
    /* font-weight: 300; */
    /* text-shadow: #000 1px 1px 1px; */
}

.theme-minimal section > p > img {
    /* float: right; */
    max-width: 100%;
    /* margin-left: 2em; */
}

.theme-minimal .page-quote {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 5px 0 12px 0;
}

/** Flex List **/

.theme-minimal ul.flex-list {
    list-style: none;
    padding: 0 0;
    margin: 0 0;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .theme-minimal ul.flex-list {
        display: flex;
        /* flex-wrap: wrap; */
        /* justify-content: center; */
        /* align-items: center; */
    }
}

.theme-minimal ul.flex-list > li {
    display: block;
    flex-grow: 1;
    flex-basis: 0;
}
.theme-minimal ul.flex-list > li > * {
    vertical-align: middle;
}

.theme-minimal ul.flex-list > li > img,
.theme-minimal ul.flex-list > li > a > img {
    max-width: 90%;
    max-height: 200px;
}

/** Section effects **/

.theme-minimal .section-photo {
}

/** Box effects **/

.theme-minimal .box-shadow {
    box-shadow: 0px 0px 8px #000;
    z-index: 1;
    position: relative;
}

/** Footer **/

.theme-minimal > footer {
    /* text-align: center; */
    /* margin-top: 100px; */
    /* padding: 1em; */
    background: url(texture/footer.background.png);
    color: #fff6d4;
}

.theme-minimal > footer a {
    color: #fff6d4;
    text-decoration: none;
    text-transform: lowercase;
    background-color: rgba(81, 81, 81, 0.5);
    padding: 8px 16px;
    border-radius: 4px;
}

/** Page Article **/

.theme-minimal .page-view {
    transition: opacity 0.8s, height 0.5s;
    opacity: 1;
    width: 100%;
}

.theme-minimal .page-view1:not(.selected) {
    /* display: none; */
    opacity: 0;
    position: absolute;
    height: 0;
    overflow: hidden;
}


/** Custom Text **/
.theme-minimal .text-bottom-right {
    position: absolute;
    right: 11px;
    bottom: 5px;
    transform: scaleY(1.5);
    color: white;
}

/** Image **/
.theme-minimal img.themed {
    /* object-position: 50% 0%; */
    box-shadow: 0px 0px 8px #000;
    max-width: 80%;
    max-height: 200px;
    object-position: center;
}

/** Forms **/

.theme-minimal form.themed {
    padding: 0.5em;
    margin: 0 auto;
}


.theme-minimal form.themed > fieldset {
    padding: 1em 1em;
    border-radius: 8px;
    border: 1px outset #DDD;
    background: #CCC;
}
.theme-minimal form.themed > fieldset > legend {
    /* margin: 0 auto; */
    padding: 2px 8px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px outset #DDD;
    border-bottom: 1px outset #FFF;
    background: #CCC;
}


.theme-minimal .themed input,
.theme-minimal .themed select,
.theme-minimal .themed textarea,
.theme-minimal .themed button {
    padding: 2px 6px;
    margin: 0px 0px;
    border-radius: 4px;
    border-width: 1px;
    font-size: large;
}
.theme-minimal .themed textarea {
    min-height: 100px;
}
.theme-minimal .themed input[type=checkbox] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 0px 4px 0px;
}

/** Table **/

.theme-minimal table.themed {
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px outset #DDD;
    background: #CCC;
}

.theme-minimal table.themed > tbody {
}
.theme-minimal table.themed > caption {
    padding: 2px 8px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px outset #DDD;
    background: #CCC;
}

.theme-minimal .themed td.label {
    padding-right: 6px;
    text-align: right;
    font-weight: bold;
    /* max-width: 36px; */
    text-transform: capitalize;
}