/** Config Table **/

table.config {
    min-width: 950px;
}

/** Forms **/

form.config select,
form.config input[type=text],
form.config input[type=password],
form.config input[type=email],
form.config textarea {
    width: 100%;
}

form.config textarea {
    min-height: 216px;
}