        <header>
            <div class="logo-container">
                <div class="logo"></div>
                <a href="" class="logo-text">
                    Arizona Friends of Homeless
                </a>
            </div>
            <nav>
                <%- include('../../../partial/nav-menu.ejs') %>
            </nav>
        </header>
