content-nav {
    display: block;
}

/** Navigation **/

content-nav ul.menu {
    list-style-type: none;
    margin: 0px auto;
    padding: 0;
    /* text-align: center; */
}

content-nav ul.menu > li {
    display: inline-block;
    padding: 13px 0px;
    /* min-width: 100px; */
}

content-nav ul.menu > li > a {
}

content-nav ul.submenu > li > a {
    display: block;
    /* padding: 12px; */
    text-align: left;
    /* white-space: nowrap; */
}

/** Sub Menu **/
content-nav ul.submenu {
    display: block;
    position: absolute;
    list-style: none;
    margin: 13px 0px 0px 0px;
    padding: 0;
    /* border-radius: 2px; */
    z-index: 99;
    overflow-y: hidden;
    max-height: 100%;
    border-radius: 4px;
}

content-nav li:not(:hover) > ul.submenu {
    display: none;
    /*max-height: 0px;*/
    /*transition: max-height 1s;*/
    z-index: 1;
}

/** Anchors **/
content-nav a {
    padding: 12px 16px;
    /* background-color: #CCCE; */
}



/** Nav Menu Colors **/

content-nav ul.submenu,
content-nav ul.menu > li:hover,
content-nav ul.menu > li:hover > ul.submenu > li:hover{
}