
/** Navigation **/

content-nav ul.nav-menu {
    list-style-type: none;
    margin: 0px auto;
    text-align: center;
}

content-nav ul.nav-menu > li {
    display: inline-block;
    padding: 4px 0px;
}


content-nav ul.nav-menu > li > a,
content-nav ul.nav-submenu > li > a {
    display: block;
    padding: 2px 12px;
    text-align: left;
}

/** Sub Menu **/
content-nav ul.nav-submenu {
    position: absolute;
    list-style: none;
    margin: 2px 0;
    padding: 4px;
    border-radius: 2px;
    z-index: 99;
}


content-nav li:not(:hover) > ul.nav-submenu {
    display: none;
}

/** Colors **/

content-nav ul.nav-submenu,
content-nav ul.nav-menu > li:hover,
content-nav ul.nav-menu > li:hover > ul.nav-submenu > li:hover{
    background-color: #CCCE;
}