/** Content Table **/

table.content {
    min-width: 950px;
}

/** Forms **/

form.content select,
form.content input[type=text],
form.content input[type=password],
form.content input[type=email] {
    width: 100%;
}


form.content textarea.editor-plain {
    min-height: 300px;
    width: 100%;
}
form.content textarea.editor-binary {
    min-height: 100px;
    width: 100%;
}


iframe.content-preview-iframe {
    width: 100%;
    height: 100%;
}