<section>
    <script src="/user/form/userform-update-profile.client.js"></script>
    <userform-update-profile userID="<%=userID%>"></userform-update-profile>
    <script src="/user/form/userform-flags.client.js"></script>
    <userform-flags userID="<%=userID%>"></userform-flags>
    <script src="/user/form/userform-update-password.client.js"></script>
    <userform-update-password userID="<%=userID%>"></userform-update-password>
</section>
