<section>
    <script src="/user/element/user-profileupdateform.element.js"></script>
    <user-profileupdateform userID="<%=userID%>"></user-profileupdateform>
    <script src="/user/element/user-flagsform.element.js"></script>
    <user-flagsform userID="<%=userID%>"></user-flagsform>
    <script src="/user/element/user-changepasswordform.element.js"></script>
    <user-changepasswordform userID="<%=userID%>"></user-changepasswordform>
</section>
