<section>
    <script src="/user/form/userform-update-profile.client.js"></script>
    <userform-update-profile id="<%=id%>"></userform-update-profile>
    <script src="/user/form/userform-flags.client.js"></script>
    <userform-flags id="<%=id%>"></userform-flags>
    <script src="/user/form/userform-update-password.client.js"></script>
    <userform-update-password id="<%=id%>"></userform-update-password>
</section>
