<section>
    <script src="/userm/userform-profile.client.js"></script>
    <userform-profile id="<%=id%>"></userform-profile>
    <script src="/userm/userform-flags.client.js"></script>
    <userform-flags id="<%=id%>"></userform-flags>
    <script src="/userm/userform-changepassword.client.js"></script>
    <userform-changepassword id="<%=id%>"></userform-changepassword>
</section>
