/** Background Image **/
body {
    font-family: 'Advent Pro', monospace;
    /*font-size: 12px;*/
    /*background: #2b2b2b url(texture/default.background.png) no-repeat fixed center;*/
}


/** Header **/
body > header {
    /*background: linear-gradient(to bottom, #487bb3 0%, #88a9cc 1%,#487bb3 2%,#1b589b 98%,#022035 100%);*/
    /*background: url(texture/header.background.png);*/
}


/** Title **/
body > header > .title {
    /*font-style: italic;*/
}

/** Title Logo **/
body > header img.logo {
    /*box-shadow: #0008 1px 4px 19px;*/
}

/** Site Hyperlinks **/
a {
}


/** Site Paragraphs **/
p {
}

