/** task Table **/

table.task {
    width: 800px;
}

/** Forms **/

form.task select,
form.task input[type=text],
form.task input[type=password],
form.task input[type=email],
form.task textarea {
    width: 100%;
}

form.task textarea[name=description] {
    min-height: 200px;
}


task-manager .results {
    /*text-align: center;*/
}