                <form action="/user" method="POST">
                    <fieldset>
                        <label>Email:
                            <input type="text" name="email" value="admin@afoh.info" required/>
                        </label>
                        <br/>
                        <label>Password:
                            <input type="password" name="password" value="1" required/>
                        </label>
                        <br/>
                        <label>
                            <button type="submit">Register</button>
                        </label>
                    </fieldset>
                </form>
