                <script src="/server/template/form/client/edit-article.js"></script>

                <form action="/article" method="POST" class="themed">
                    <input type="hidden" name="id" />
                    <fieldset>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Field</th>
                                    <th>Value</th>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td>
                                        <input type="text" name="title"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Path</td>
                                    <td>
                                        <input type="text" name="path"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Submit</td>
                                    <td>
                                        <button type="submit">Log out</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
