            <form action="/user/register" method="POST" class="themed">
                    <fieldset>
                        <label class="label-email">Login Email:<br/>
                            <input type="text" name="email" placeholder="your@email.com" required/>
                        </label>
                        <br/><br/>

                        <label class="label-password">Login Password:<br/>
                            <input type="password" name="password" placeholder="New Password" required/>
                        </label>
                        <br/><br/>

                        <label class="label-confirm-password">Confirm Password:<br/>
                            <input type="password" name="confirm_password" placeholder="Confirm Password" required/>
                        </label>
                        <br/><br/>

                        <label class="label-submit">Register:<br/>
                            <button type="submit">Register</button>
                        </label>
                    </fieldset>
                </form>