/** Import Font **/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/** Body **/
body.theme-minimal-yoga {
    color: #222;
     font-family: 'Lato', monospace;
    background: #FFF;
}


/** Hyperlinks **/
.theme-minimal-yoga a {
    color: #000;
    /*text-decoration: none;*/
     /*text-decoration-color: #CCCC;*/
}

.theme-minimal-yoga header a:not(:hover),
.theme-minimal-yoga footer a:not(:hover)
{
    text-decoration: none;
}


/** Header **/
body.theme-minimal-yoga > header {
    max-width: 93%;
    text-align: right;
    background: #FFF;
    /*background: linear-gradient(to bottom, #487bb3 0%, #88a9cc 1%,#487bb3 2%,#1b589b 98%,#022035 100%);*/
}


/** Navigation **/
body.theme-minimal-yoga header content-nav {
    /* float: right; */
    font-size: smaller;
    padding: 1.3em;
}

/** Nav Menu Colors **/
content-nav ul.menu > li:hover > a,
content-nav ul.submenu > li > a {
    background-color: #FFF;
}

content-nav ul.menu > li > a,
content-nav ul.submenu > li > a {
    border-top: 1px solid #EEE;
    /*border-bottom: 1px solid #CCCC;*/
}

/** Header Tags **/
.theme-minimal-yoga h1, .theme-minimal-yoga h2,  .theme-minimal-yoga h3, .theme-minimal-yoga h4, .theme-minimal-yoga h5, .theme-minimal-yoga h6 {
    color: #fff6d4;
    text-shadow: #000 1px 1px 1px;
}

/** Footer **/
body.theme-minimal-yoga > footer {
    background: #FFF;
    /*background: linear-gradient(to top, #3d9bea 0%, #6eb4ef 100%);*/
    /* background: url(texture/footer.background.png); */
}


/** Page Sections **/
.theme-minimal-yoga > article > section {
    background: #DDD;
}

.theme-minimal-yoga div.themed,
.theme-minimal-yoga > article > section.themed {
    /* text-shadow: #000 1px 1px 1px; */
    background-color: #ab6428ed;
    box-shadow: 2px 2px 4px #0008;
    border-radius: 2px;
}

