/** Import Font **/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/** Body **/
body.theme-minimal-yoga {
    color: #222;
     font-family: 'Lato', monospace;
    background: #FFF;
}



/** Header **/
body.theme-minimal-yoga > header {
    background: #FFF;
    /* max-width: 93%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    /* margin: 0px auto; */
    /*background: linear-gradient(to bottom, #487bb3 0%, #88a9cc 1%,#487bb3 2%,#1b589b 98%,#022035 100%);*/
}

@media only screen and (max-width: 480px) {
    body.theme-minimal-yoga > header {
        display: block;
        /* text-align: center; */
    }
}

body.theme-minimal-yoga .logo {
}
body.theme-minimal-yoga .title a {
    font-size: medium;
}



/** Navigation **/
.theme-minimal-afoh content-nav {
    font-size: larger;
}

.theme-minimal-yoga content-nav {
    font-size: smaller;
    padding: 1.3em;
}

/** Navigation Menu Colors **/
.theme-minimal-yoga content-nav ul.menu > li:hover > a,
.theme-minimal-yoga content-nav ul.submenu {
    background-color: #EEE8;
}
.theme-minimal-yoga content-nav ul.submenu > li:hover > a {
    background-color: #F8F8F8;
}

.theme-minimal-yoga content-nav ul.menu > li > a {
    border-top: 1px solid #EEE;
    /*border-bottom: 1px solid #CCCC;*/
}


/** Hyperlinks **/
.theme-minimal-yoga a {
    color: #000;
    /*text-decoration: none;*/
    /*text-decoration-color: #CCCC;*/
}

.theme-minimal-yoga header a:not(:hover),
.theme-minimal-yoga footer a:not(:hover)
{
    text-decoration: none;
}


/** Paragraphs **/
.theme-minimal-yoga p {
    max-width: 800px;
    margin: auto;
    text-align: justify;
    text-indent: 8px;
}
/** Header Tags **/
.theme-minimal-yoga h1, .theme-minimal-yoga h1 a,
.theme-minimal-yoga h2, .theme-minimal-yoga h2 a,
.theme-minimal-yoga h3, .theme-minimal-yoga h3 a,
.theme-minimal-yoga h4, .theme-minimal-yoga h4 a,
.theme-minimal-yoga h5, .theme-minimal-yoga h5 a,
.theme-minimal-yoga h6, .theme-minimal-yoga h6 a {
    color: #1cb18a;
    text-shadow: #8888 1px 1px 1px;
}

/** Footer **/
body.theme-minimal-yoga > footer {
    /* background: #FFF; */
    /*background: linear-gradient(to top, #3d9bea 0%, #6eb4ef 100%);*/
    /* background: url(texture/footer.background.png); */
}


/** Page Articles & Sections **/
body.theme-minimal-yoga > section,
body.theme-minimal-yoga > article > section,
body.theme-minimal-yoga > footer {
    margin: 6px auto;
    /* max-width: 2600px; */
    padding: 1px 16px 16px 16px;
    /* border: 1px solid #CCC; */
}

.theme-minimal-yoga > article > section {
    text-align: center;
}
.theme-minimal-yoga > article > section.themed {
    background: #f4f7f7;
}

.theme-minimal-yoga div.themed,
.theme-minimal-yoga > article > section.themed {
    /* text-shadow: #000 1px 1px 1px; */
    background-color: #fef1fe;
    box-shadow: 2px 2px 4px #cbcbcb;
    border-radius: 2px;
}

/** Images **/
.theme-minimal-yoga img.themed {
    width: 100%;
    box-shadow: 0px 0px 8px #000;
}
