        <footer>
            <div class="flex-list">
                <div>
                    <h2>Created With</h2>
                    <a class="created-by" target='_blank' href='https://github.com/clevertree/cms'>CleverTree CMS</a>
                </div>
                <div>
                    <h2>Get Involved!</h2>
                    <p>
                        <%=site.description%>
                    </p>
                </div>
                <div>
                    <h2>Contact Us</h2>
                    <p>
                        Email: <a href="mailto:<%=site.contact%>"><%=site.contact%></a>
                        <br/>
                        Copyright Clevertree LLC
                        <br/><a href=':content'>Article Index</a>
                        <br/><a href=':user'>User Index</a>
                    </p>
                </div>
            </div>
        </footer>
