        <header>
            <div class="logo-container">
                <div class="logo"></div>
                <h1>
                    <a href="<%-path%>" class="logo-text"><%=title%></a>
                </h1>
            </div>
            <theme-default-nav-menu></theme-default-nav-menu>
        </header>