        <header>
            <div class="logo-container">
                <div class="logo"></div>
                <a href="" class="logo-text">
                    <h1><%=title%></h1>
                </a>
            </div>
            <nav>
                <theme-default-nav-menu userID="<%-session.userID%>"><%-htmlMenu%></theme-default-nav-menu>
            </nav>
        </header>