        <header>
            <div class="logo-container">
                <div class="logo"></div>
                <a href="" class="logo-text">
                    <%=title%>
                </a>
            </div>
            <nav>
                <theme-default-nav-menu><%-htmlMenu%></theme-default-nav-menu>
            </nav>
        </header>