        <header>
            <div class="logo-container">
                <div class="logo"></div>
                <a href="" class="logo-text">
                    <%=site.name%>
                </a>
            </div>
<%- content.themeMenu || include('nav.partial.ejs') %>
        </header>