        <article data-path="resources" class="page-view">
                <section class="highlight box-shadow" style="padding: 2em;">
                <h1 class="themed" id="activities">Arizona Friends of Homeless Resources</h1>
                <p class="themed">
                    AFOH has compiled several directories of known shelters, housing, programs, and services in Arizona
                    for those who are homeless or are at risk of becoming homeless. Lists and directories are subject to
                    change and updates, so please call ahead to find out more information before making a visit.
                </p>
            </section>
            <section>
                <ul class="flex-list">
                    <li>
                        <img class="themed" src="view/image/afoh1.jpg" alt="Local Outreach">
                    </li>
                    <li>
                        <h2>Homelessness and Crisis Resources</h2>
                        <p class="themed">
                            Start here if you are homeless or are at risk of becoming homeless. Our resources list serves
                            as a catch-all for crisis and homelessness needs. Please check us out on social media for further
                            assistance. Please dial 211 for immediate homeless assistance
                        </p>
                    </li>
                </ul>
                <hr/>
                <ul class="flex-list">
                    <li>
                        <h2>Arizona Friends of Homeless FAQ</h2>
                        <p class="themed">
                            Frequently Asked Questions run into by Arizona Friends of Homeless. These questions pertain
                            to both our organization in general, and general questions asked on our social media pages.
                        </p>
                    </li>
                    <li>
                        <img class="themed" src="view/image/afoh2.jpg" alt="Local Outreach">
                    </li>
                </ul>
                <hr/>
                <ul class="flex-list">
                    <li>
                        <img class="themed" src="view/image/afoh3.jpg" alt="Local Outreach">
                    </li>
                    <li>
                        <h2>
                            Arizona Shelters / Housing / Resources
                        </h2>
                        <p class="themed">
                            A general directory of known shelters and housing in Arizona. For anyone who has no specific needs
                            or is ineligible for other housing opportunities. This list is subject to change. Please call ahead.
                        </p>
                    </li>
                </ul>
                <hr/>
                <ul class="flex-list">
                    <li>
                        <h2>
                            Arizona Food Banks / Kitchens Directory
                        </h2>
                        <p class="themed">
                            AFOH's list of known food banks, soup kitchens, food-trucks, and other special services for
                            feeding the homeless in Arizona. Call ahead for open times.
                        </p>
                    </li>
                    <li>
                        <img class="themed" src="view/image/afoh2.jpg" alt="Local Outreach">
                    </li>
                </ul>
                <hr/>
                <ul class="flex-list">
                    <li>
                        <img class="themed" src="view/image/afoh3.jpg" alt="Local Outreach">
                    </li>
                    <li>
                        <h2>
                            Women's, Youth, and Domestic Violence
                        </h2>
                        <p class="themed">
                            AFOH's directory for women, youth, and those exposed to domestic violence in AZ.
                            Arizona Friends of Homeless strives to provide a safe space for those DV victims,
                            and homelessness issues that can arise from domestic violence conditions.
                        </p>
                    </li>
                </ul>
                <hr/>
                <ul class="flex-list">
                    <li>
                        <h2>
                            Pregnant, Post-partum, and Family
                        </h2>
                        <p class="themed">
                            AFOH's directory for expectant and post-par-tum mothers, couples, or families with children.
                            Arizona Friends of Homeless strives to keep children safe, off the streets,
                            and with those they love. Our directory offers resources to help! Please call ahead, as our lists are updated frequently.p>
                    </li>
                    <li>
                        <img class="themed" src="view/image/afoh2.jpg" alt="Local Outreach">
                    </li>
                </ul>
                <hr/>
                <ul class="flex-list">
                    <li>
                        <img class="themed" src="view/image/afoh3.jpg" alt="Local Outreach">
                    </li>
                    <li>
                        <h2>
                            Seniors, Veterans, and Disabled
                        </h2>
                        <p class="themed">
                            AFOH's directory for seniors, veterans, and the disabled. Arizona Friends of Homeless works
                            hard to help those with special needs access the resources available to them. Please call ahead for more info.
                        </p>
                    </li>
                </ul>
                <hr/>
                <ul class="flex-list">
                    <li>
                        <h2>
                            Single Men's Shelter, and Housing
                            Pregnant, Post-partum, and Family
                        </h2>
                        <p class="themed">
                            AFOH's list of shelters for single men in Arizona. Please call ahead for more information.
                    </li>
                    <li>
                        <img class="themed" src="view/image/afoh2.jpg" alt="Local Outreach">
                    </li>
                </ul>
            </section>
        </article>