


        <article data-path="whatwedo" class="page-view">
            <section>
                <ul class="flex-list">
                    <li>
                        <h2>Local AZ Outreach</h2>
                        <p>
                            AFOH performs outreach at various locations in the Phoenix Valley on a daily
                            and weekly basis. We provide food, clothing, hygiene kits, referrals, maps, and more.
                            Click for info about our outreach, activities, routes, schedules, and ways to help!
                        </p>
                    </li>
                    <li>
                        <img class="themed" src="view/image/afoh1.jpg" alt="Local Outreach">
                    </li>
                </ul>
                <ul class="flex-list">
                    <li>
                        <img class="themed" src="view/image/afoh2.jpg" alt="Local Outreach">
                    </li>
                    <li>
                        <h2>Social Media Hub</h2>
                        <p>
                            It's all about the homeless news, topics, and events. From local to nationwide and elsewhere,
                            Arizona Friends of Homeless focuses on homelessness issues, providing a forum for like-minded
                            individuals with giving hearts to spread awareness and come up with solutions together within
                            the community. We host and notify of upcoming events and opportunities for giving and proposing
                            solutions with individuals and organizations in need. Anyone can join!
                        </p>
                    </li>
                </ul>
                <ul class="flex-list">
                    <li>
                        <h2>Resources Directory</h2>
                        <p>
                            AFOH provides several directories of shelters and housing, food banks and kitchens, services and programs,
                            as well as lists of known local  homelessness groups, organizations, programs, and services in Arizona.
                        </p>
                    </li>
                    <li>
                        <img class="themed" src="view/image/afoh10.jpg" alt="Local Outreach">
                    </li>
                </ul>
                <ul class="flex-list">
                    <li>
                        <img class="themed" src="view/image/afoh4.jpg" alt="Local Outreach">
                    </li>
                    <li>
                        <h2>Personal Support</h2>
                        <p>
                            AFOH Issues is our Facebook Group for homelessness needs, issues, and requests, as well as
                            missing persons posts, and personal opportunities to support a person in need through acts
                            of kindness, or just provide information or give moral support.
                        </p>
                    </li>
                </ul>

                <h2>Shoes, Bikes, & Teddy Bears Project</h2>
                <ul class="flex-list">
                    <li>
                        <img class="themed" src="view/image/afoh7.jpg" alt="Local Outreach">
                    </li>
                    <li>
                        <img class="themed" src="view/image/afoh5.jpg" alt="Local Outreach">
                    </li>
                </ul>
                <ul class="flex-list">
                    <li>
                        <img class="themed" src="view/image/afoh6.jpg" alt="Local Outreach">
                    </li>
                    <li>
                        <h2>Teddy Bears Project</h2>
                        <p>
                            Arizona Friends of Homeless regularly provides shoes, bikes, and teddy bears to the
                            homeless in Phoenix. We believe in equipping the homeless with tools for mobility,
                            as well as recognizing and giving voice to their issues. AFOH strives to acknowledge
                            that all people are free and equal in dignity and rights, and that a little kindness
                            and respect goes a long way on the street.
                        </p>
                    </li>
                </ul>
            </section>
        </article>