<ul class="nav-menu">
                <%_ for(let i=0; i<menu.length; i++) {
                    const menuItem = menu[i][0];
                    if(!menuItem)
                        continue;
                    console.log(menuItem);
                    const subMenuItems = menu[i][1];
                    _%>
                    <li>
                        <a href="<%=menuItem.path%>"><%=menuItem.title%></a>
                        <%_ if (subMenuItems.length > 0) { _%>
                        <ul class="nav-submenu">
                            <%_ for(let i=0; i<subMenuItems.length; i++) {
                                const subMenuItem = subMenuItems[i];
                            _%>
                            <li><a href="<%=subMenuItem.path%>"><%=subMenuItem.title%></a></li>
                            <%_ } _%>
                        </ul>
                        <%_ } _%>
                    </li>
                <%_ } _%>
                </ul>