        <footer>
            <ul class="flex-list">
                <li>
                    <h2>Acts of Kindness</h2>
                    <p>
                    </p>
                    <a class="created-by" target='_blank' href='https://github.com/clevertree/afoh-site'>Created by CleverTree</a>
                </li>
                <li>
                    <h2>Get Involved!</h2>
                    <p style="text-align: left;">
                        AFOH is on Facebook!  Join for updates, events, ways to volunteer or support outreach efforts.
                        <br/>
                        Donate! There are many projects that need help!
                        <br/>
                        AFOH Amazon Wishlist, ship items directly to AFOH for our outreach efforts!
                        <br/>
                        Volunteer for sandwich making, and more!
                    </p>
                </li>
                <li>
                    <h2>Contact Us</h2>
                    <p style="text-align: left;">
                        Telephone: <a href="tel:480-409-9395">480-409-9395</a>
                        <br/>
                        2233 N. Laurel Ave.
                        <br/>
                        Phoenix, AZ
                        <br/>
                        Email: <a href="mailto:matanasio@me.com">matanasio@me.com</a>
                        <br/>
                        Copyright Clevertree LLC
                    </p>
                </li>
            </ul>
        </footer>