<header>
            <div class="logo-container">
                <div class="logo"></div>
                <a href="" class="logo-text">
                    Arizona Friends of Homeless
                </a>
            </div>
            <nav>
                <ul class="nav-menu">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about">About Us</a>
                        <ul class="nav-submenu">
                            <li><a href="#whatwedo">What We Do</a></li>
                        </ul>
                    </li>
                    <li><a href="#resources">Homeless Resources</a>
                        <ul class="nav-submenu">
                            <li><a href="#faq">AFOH FAQ</a></li>
                            <li><a href="#faq">Homelessness and Crisis Directories</a></li>
                            <li><a href="#faq">Groups, Outreach, and Organizations</a></li>
                            <li><a href="#faq">Foodbanks, Kitchens, Medical, and Other</a></li>
                            <li><a href="#faq">Shelter and Housing Directories</a></li>
                            <li><a href="#faq">Women's, Youth, and Domestic Violence</a></li>
                            <li><a href="#faq">Seniors, Veterans, and Disabled</a></li>
                            <li><a href="#faq">Pregnant, Post-partum, and Family</a></li>
                            <li><a href="#faq">Single Men's Shelter, and Housing</a></li>
                        </ul>
                    </li>
                    <li><a href="#projects">AFOH Outreach / Projects</a>
                        <ul class="nav-submenu">
                            <li><a href="#faq">AFOH Central Phoenix</a></li>
                            <li><a href="#faq">AFOH Chavez Park</a></li>
                            <li><a href="#faq">AFOH Motor Home Project</a></li>
                            <li><a href="#faq">AFOH Wash Morning @ Social Spin</a></li>
                        </ul>
                    </li>
                    <li><a href="#contribute">Contribute / Volunteer</a>
                        <ul class="nav-submenu">
                            <li><a href="#faq">Donate!</a></li>
                            <li><a href="#faq">Volunteer!</a></li>
                            <li><a href="#faq">Amazon Wishlist</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Contact Us</a>
                        <ul class="nav-submenu">
                            <li><a href="https://www.facebook.com/groups/arizonafriendsofhomeless/">Facebook</a></li>
                            <li><a href="#faq">E-mail</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
