form.userform {
    max-width: 520px;
}

form.userform > fieldset {
    margin: 0px auto;
}

form.userform > fieldset > table {
    width: 100%;
    border-collapse: collapse;
}
form.userform > fieldset > table > caption {
    /* font-weight: bold; */
    /*font-style: italic;*/
    text-align: left;
    /* padding-bottom: 1em; */
}
/** Form Input **/

form.userform input[type=text],
form.userform input[type=email],
form.userform input[type=password],
form.userform select,
form.userform textarea {
     min-width: 90%;
}

/** Form Actions **/

form.userform .action-edit {
    font-size: x-small;
    text-decoration: none;
}

/** Row **/
form.userform tr.odd {
    background-color: #0001;
}

/** Labels **/

form.userform td.label {
    text-align: right;
    padding: 8px 8px 8px 0px;
    font-weight: bold;
    white-space: nowrap;
    display: block;
    min-width: 90%;
}
form.userform td.label:after {
    content: ':'
}


/** Custom Forms **/

form.userform-register {
    /*text-align: center;*/
}
