form.userform {
    max-width: 520px;
}

form.userform-register {
    text-align: center;
}

form.userform > fieldset {
    margin: 0px auto;
}

form.userform > fieldset > table {
    width: 100%;
    border-collapse: collapse;
}
form.userform > fieldset > table > caption {
    /* font-weight: bold; */
    /*font-style: italic;*/
    text-align: left;
    /* padding-bottom: 1em; */
}

/** Row **/
form.userform > fieldset > table > tbody > tr:not(.odd) {
    background-color: #0001;
}

/** Form Input **/

form.userform input[type=text],
form.userform input[type=email],
form.userform input[type=password],
form.userform select,
form.userform textarea {
     min-width: 90%;
}

/** Form Actions **/

form.userform .action-edit {
    font-size: x-small;
    text-decoration: none;
}

