/** Anchors **/
form.config a,
table.config a{
    text-decoration: none;
    min-width: 300px;
}

/** Forms **/

form.config > fieldset {
    padding: 1em 1em;
    border-radius: 8px;
    border: 1px outset #DDD;
    background: #CCC;
}
form.config > fieldset > legend {
    /* margin: 0 auto; */
    padding: 2px 8px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px outset #DDD;
    border-bottom: 1px outset #FFF;
    background: #CCC;
}


form.config input,
form.config select,
form.config textarea,
form.config button {
    padding: 2px 3px 2px 3px;
    margin: 0px 2px 0px 0px;
    border-radius: 4px;
    border-width: 1px;
    font-size: large;
}
form.config textarea {
    min-height: 300px;
}
form.config input[type=checkbox] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 0px 4px 0px;
}

form.config input[type=submit],
form.config button[type=submit] {
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}
form.config input:disabled,
form.config button:disabled {
    cursor: not-allowed;
}


form.config {
    max-width: 1200px;
    margin: auto;
}

form.config > fieldset {
    margin: 0px auto;
}

form.config > fieldset > table {
    width: 100%;
    border-collapse: collapse;
}
form.config > fieldset > table > caption {
    /* font-weight: bold; */
    /*font-style: italic;*/
    text-align: left;
    /* padding-bottom: 1em; */
}
/** Form Input **/

form.config input[type=text],
form.config input[type=email],
form.config input[type=password],
form.config select,
form.config textarea {
    min-width: 90%;
}


/** Custom Forms **/

form.config-registerform {
    /*text-align: center;*/
}

/** Table **/
table.config {
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 8px;
    /*border: 1px outset #DDD;*/
    background: #CCC;
}

table.config > caption {
    padding: 2px 8px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px outset #DDD;
    background: #CCC;
}

/** Table Row **/
table.config > tbody > tr.odd {
    background-color: #0001;
}


table.config .icon-edit {
    text-decoration: none;
}

/** Row **/
table.config tr.odd {
    background-color: #0001;
}

/** Labels **/

table.config td.label {
    text-align: right;
    padding: 8px 8px 8px 0px;
    font-weight: bold;
    white-space: nowrap;
    display: block;
    min-width: 90%;
}
table.config td.label:after {
    content: ':'
}

