/** Anchors **/
form.config a,
table.config a{
    text-decoration: none;
    min-width: 300px;
}

/** Forms **/

form.config {
    max-width: 1200px;

}

form.config > fieldset {
    margin: 0px auto;
}

form.config > fieldset > table {
    width: 100%;
    border-collapse: collapse;
}
form.config > fieldset > table > caption {
    /* font-weight: bold; */
    /*font-style: italic;*/
    text-align: left;
    /* padding-bottom: 1em; */
}
/** Form Input **/

form.config input[type=text],
form.config input[type=email],
form.config input[type=password],
form.config select,
form.config textarea {
    min-width: 100%;
}
form.config textarea {
    min-height: 120px;
}

/** Custom Forms **/

form.config-registerform {
    /*text-align: center;*/
}


/** Tables **/

table.config {
    width: 100%;
}

table.config .icon-edit {
    text-decoration: none;
}

/** Row **/
table.config tr {
}

table.config tr.odd {
    background-color: #0001;
}

/** Column **/
table.config td {
}

/** Labels **/

table.config label,
table.config td.label {
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    display: block;
}

table.config td.label {
    text-align: right;
    margin: 8px 8px 8px 0px;
    min-width: 90%;
}
table.config td.label:after {
    content: ':'
}

