form.taskform {
    max-width: 620px;
}

form.taskform > fieldset {
    margin: 0px auto;
}

form.taskform > fieldset > table {
    width: 100%;
    border-collapse: collapse;
}
form.taskform > fieldset > table > caption {
    /* font-weight: bold; */
    /*font-style: italic;*/
    text-align: left;
    /* padding-bottom: 1em; */
}
/** Form Input **/

form.taskform input[type=text],
form.taskform input[type=email],
form.taskform input[type=password],
form.taskform select,
form.taskform textarea {
    min-width: 90%;
}

/** Form Actions **/

form.taskform .action-edit {
    font-size: x-small;
    text-decoration: none;
}

/** Row **/
form.taskform tr.odd {
    background-color: #0001;
}

/** Labels **/

form.taskform td.label {
    text-align: right;
    padding: 8px 8px 8px 0px;
    font-weight: bold;
    white-space: nowrap;
    display: block;
    min-width: 90%;
}
form.taskform td.label:after {
    content: ':'
}


/** Custom Forms **/

form.taskform-register {
    /*text-align: center;*/
}
