<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../../../../">
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="theme/minimal/assets/minimal.css" rel="stylesheet" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>

    <script src="node_modules/trumbowyg/dist/trumbowyg.min.js"></script>

    <script src="node_modules/trumbowyg/dist/plugins/cleanpaste/trumbowyg.cleanpaste.min.js"></script>
    <script src="node_modules/trumbowyg/dist/plugins/pasteimage/trumbowyg.pasteimage.min.js"></script>

    <link rel="stylesheet" href="node_modules/trumbowyg/dist/ui/trumbowyg.min.css">
</head>
<body>
    <div class="theme-minimal">
        <textarea id="editor">sdaf 32</textarea>
    </div>
    <script>
        let targetTextArea = null;
        document.addEventListener('DOMContentLoaded', (e) => {
            targetTextArea = window.frameElement.parentElement.querySelector('.editor-iframe-target');
            $('#editor').trumbowyg('html', targetTextArea.value);
        });

        // Doing this in a loaded JS file is better, I put this here for simplicity
        $('#editor').trumbowyg()
            .on('tbwchange', function(e) {
                const content = $('#editor').trumbowyg('html');
                targetTextArea.value = content;
                console.info("Editor content changed", content);
            });
    </script>
</body>
</html>