<section>
    <script src="/app/article/form/articleform-browser.client.js"></script>
    <articleform-browser></articleform-browser>
    <script src="/app/article/form/articleform-add.client.js"></script>
    <articleform-add></articleform-add>
</section>
