/** Background Image **/
body.theme-default {
    background: #3d9be9;
    /*background: #3d9be9 url(texture/default.background.png) no-repeat fixed center;*/
    /* background: #EEC455; */
}

/** Theme: Default **/
.theme-default {
    color: #2b2b2b;
    margin: 0 auto;
    font-family: 'Advent Pro', monospace;
    font-size: 16px;
    /* line-height: 20px; */
}

/** Header **/
.theme-default > header {
    background: linear-gradient(to bottom, #487bb3 0%, #88a9cc 1%,#487bb3 2%,#1b589b 98%,#022035 100%);
    /*background: url(texture/header.background.png);*/
    background-size: contain;
    /* padding: 1em; */
}

.theme-default > header .logo-container {
    max-width: 700px;
    margin: 0px auto;
    padding-top: 10px;
    text-align: center;
}

.theme-default > header .logo {
    background: url(logo/logo-header.png) no-repeat center;
    margin-left: 17px;
    background-size: 100% auto;
    min-width: 200px;
    min-height: 80px;
    float: left;
    /* box-shadow: #0008 1px 4px 19px; */
}

.theme-default .logo-text {
    text-decoration: none;
    color: rgb(255, 246, 212);
    text-shadow: #0008 4px 3px 9px;
}

@media only screen and (max-width: 800px) {
    .theme-default > header .logo-container {
        max-width: 80vw;
    }
}
@media only screen and (max-width: 500px) {
    .theme-default > header .logo {
        float: inherit;
        margin: auto;
    }
}

/** Page Width **/
.theme-default > article > section,
.theme-default > footer {
    margin: 0 auto;
    max-width: 800px;
    padding: 0.5em;
}


/** Page Articles **/
.theme-default > article {
    background: #EEC455;
    padding: 0 0;
    margin: 0 auto;

}
.theme-default > article > * {
    padding: 0.5em;

}


/** Footer **/
.theme-default > footer {
    /* text-align: center; */
    background: linear-gradient(to top, #3d9bea 0%, #6eb4ef 99%);
    /* background: url(texture/footer.background.png); */
    color: #fff6d4;
}


/** Page Sections **/
.theme-default > article > section {
    padding: 0.5em;
    background: #f5e7a8;
}

.theme-default div.themed,
.theme-default > article > section.themed {
    color: #f5efd5;
    text-shadow: #000 1px 1px 1px;
    background-color: #ab6428ed;
}


/** Paragraphs **/
.theme-default p.themed {
    text-align: justify;
    text-indent: 8px;
    padding: 4px 8px;
    line-height: 20px;
    /* font-weight: 300; */
    /* text-shadow: #000 1px 1px 1px; */
}

/** Messages **/
.theme-default div.message,
.theme-default div.success,
.theme-default div.error {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 4px;
}
.theme-default div.message {
    color: #000;
    background: #0002;
}
.theme-default div.success {
    color: #f5fbf2;
    background: #118c09;
}
.theme-default div.error {
    color: #fee;
    background: #d25757;
}


/** Forms **/
.theme-default form.themed > fieldset {
    padding: 1em 1em;
    border-radius: 8px;
    border: 1px outset #DDD;
    background: #CCC;
}
.theme-default form.themed > fieldset > legend {
    /* margin: 0 auto; */
    padding: 2px 8px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px outset #DDD;
    border-bottom: 1px outset #FFF;
    background: #CCC;
}


.theme-default .themed input,
.theme-default .themed select,
.theme-default .themed textarea,
.theme-default .themed button {
    padding: 2px 3px 2px 3px;
    margin: 0px 2px 0px 0px;
    border-radius: 4px;
    border-width: 1px;
    font-size: large;
}
.theme-default .themed textarea {
    /* min-height: 100px; */
}
.theme-default .themed input[type=checkbox] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 0px 4px 0px;
}

.theme-default .themed input[type=submit],
.theme-default .themed button[type=submit] {
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
}
.theme-default .themed input:disabled,
.theme-default .themed button:disabled {
    cursor: not-allowed;
}


/** Table **/
.theme-default table.themed {
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px outset #DDD;
    background: #CCC;
}

.theme-default table.themed > caption {
    padding: 2px 8px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px outset #DDD;
    background: #CCC;
}

/** Table Row **/
.theme-default table.themed > tbody > tr.odd {
    background-color: #0001;
}