table.user {
    /* width: 600px; messes up responsive */
}


table.user .icon-edit {
    text-decoration: none;
}

form.user select,
form.user input[type=text],
form.user input[type=password],
form.user input[type=email],
form.user textarea {
    width: 100%;
}

form.user textarea[name=description] {
    min-height: 200px;
}



/** user-form-message **/

user-form-message table.user {
    min-width: 90%;
    /*margin: auto;*/
}
user-form-message form.user .body-content {
    white-space: pre-wrap;
    /* max-width: 764px; */
    max-height: 400px;
    overflow: auto;
}
user-form-message form.user textarea[name=reply] {
    min-height: 200px;
    /* min-width: 703px; */
}
user-form-message form.user button[type=submit] {
    padding: 0.5em;
    margin: 0.5em;
    float: right

}