<section>
    <ul class="flex-list" style="align-items: center;">
        <li>
            <img class="themed" src="../../../file/image/service13.jpg" alt="Local Outreach" style="">
        </li>
        <li>
            <h2>Local AZ Outreach</h2>
            <p>
                <br>
                AFOH performs outreach at various locations in Phoenix on a daily
                and weekly basis. We provide food, clothing, hygiene kits, referrals, maps, and more.
                <a href="https://www.afoh.info/projects"><b>Click</b></a> for info about our outreach, activities, routes, schedules, and ways to help!<br><br></p>
            <div style="text-align: left;"><b>Current Outreach Locations:</b></div>
            <ul>
                <li style="text-align: left;">Central Phoenix (various routes w/ Mike)</li>
                <li style="text-align: left;">Chavez Park (w/ Kat) </li>
                <li style="text-align: left;">Mesa / Tempe (w/ Katie)</li>
            </ul>
            <p></p>
        </li>
    </ul>
    <hr />
    <ul class="flex-list" style="align-items: center;">
        <li style="order: 2;">
            <img class="themed" src="../../../file/image/socialmedia.jpg" alt="Local Outreach">
        </li>
        <li>
            <h2>Social Media Hub</h2>
            <p><a href="https://www.facebook.com/groups/arizonafriendsofhomeless" target="_blank"><b>Join us!</b></a> It's all about the homeless news, topics, and events. From local to nationwide and elsewhere,
                Arizona Friends of Homeless focuses on providing a forum for like-minded
                individuals, organizations, and groups with giving hearts to spread awareness and come up with solutions to homelessness issues within the community.<br></p>
            <div style="text-align: left;"><b>Facebook Groups: </b></div>
            <ul>
                <li style="text-align: left;"><a href="https://www.facebook.com/groups/arizonafriendsofhomeless" target="_blank"><b>AFOH Outreach</b></a> - connect on outreach, events and general homelessness news, Arizona and elsewhere. <a href="https://www.facebook.com/groups/arizonafriendsofhomeless" target="_blank"><br></a></li>
                <li style="text-align: left;"><a href="https://www.facebook.com/groups/arizonafriendsofhomelessissues/" target="_blank"><b>AFOH Issues</b></a> - post about personal needs, offer your support, look for missing persons, read all rules.</li>
            </ul>
            <div style="text-align: left;"><b>Facebook Page:</b></div>
            <ul>
                <li style="text-align: left;"><b><b style="color: rgb(255, 156, 0);"><a href="https://www.facebook.com/AZFOH" target="_blank" style="text-decoration-line: underline; outline: 0px;">AFOH Projects</a> </b><span style="font-weight: 400;">- projects, tidings, & AFOH updates!</span><br></b></li>
            </ul>
            <div style="text-align: left;"><b> </b></div>
            <div style="text-align: left;"><br></div>
        </li>
    </ul>
    <hr />
    <ul class="flex-list" style="align-items: center;">
        <li>
            <img class="themed" src="../../../file/image/resources1.jpg" alt="Local Outreach">
        </li>
        <li>
            <h2>Resources Directory</h2>
            <p>
                AFOH provides several <a href="https://www.afoh.info/resources"><b>directories</b></a> of shelters and housing, food banks and kitchens, services and programs,
                as well as lists of known local homelessness groups, organizations, programs, and services in Arizona.
            </p>
        </li>
    </ul>
    <hr />
    <ul class="flex-list" style="align-items: center;">
        <li style="order: 2;">
            <img class="themed" src="../../../file/image/streets3.jpg" alt="Local Outreach">
        </li>
        <li>
            <h2>Personal Support</h2>
            <p>
                <a href="https://www.facebook.com/groups/arizonafriendsofhomelessissues/" target="_blank"><b>AFOH Issues</b></a> is our Facebook Group for homelessness needs, issues, and requests, as well as
                missing persons posts, and personal opportunities to support a person in need through acts
                of kindness, or just provide information and moral support.
            </p>
        </li>
    </ul>
    <hr />
    <ul class="flex-list" style="align-items: center">
        <li>
            <img class="themed" src="../../../file/image/bears4.jpg" alt="Local Outreach">
        </li>
        <li>
            <h2>Homelessness Projects</h2>
            <p>
                <a href="https://www.facebook.com/AZFOH/" target="_blank"><b>Like us on Facebook!</b></a> <br>Arizona Friends of Homeless regularly provides shoes, bikes, and teddy bears to the homeless in Phoenix.  <br>AFOH Morning Wash @ Social Spin is our partnership to provide free laundry services for the homeless in Phoenix. Click <a href="https://www.afoh.info/projects"><b>here</b></a> for more information on our current projects. <br>Click <a href="https://www.facebook.com/AZFOH/" target="_blank"><b>here</b></a> to join us on Facebook!
            </p>
        </li>
    </ul>
</section>