
                <form action="/article" method="POST" class="form-article-edit themed">
                    <input type="hidden" name="id" />
                    <fieldset>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Field</th>
                                    <th>Value</th>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td>
                                        <input type="text" name="title"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Path</td>
                                    <td>
                                        <input type="text" name="path"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Content</td>
                                    <td>
                                        <textarea name="content"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Submit</td>
                                    <td>
                                        <button type="submit" disabled>Update</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
                <script src="/server/template/editor/article-editor.js"></script>
