
                <form action="/article" method="POST" class="form-article-edit themed">
                    <input type="hidden" name="id" value="<%=id%>" />
                    <fieldset>
                        <table class="themed" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th style="width: 55px;"></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="label">Title</td>
                                    <td>
                                        <input type="text" name="title"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Path</td>
                                    <td>
                                        <input type="text" name="path" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Editor</td>
                                    <td>
                                        <select name="editor">
                                            <option value="">HTML Source</option>
                                            <option value="trumbowyg">Trumbowyg</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Content</td>
                                    <td>
                                        <textarea class="editor-plain editor-iframe-target" name="content" style="width: 100%; height: 400px"></textarea>
                                        <iframe class="editor-iframe editor-iframe-trumbowyg" src="/server/template/editor/client/iframe-trumbowyg.html" style="width: 100%; height: 400px"></iframe>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Theme</td>
                                    <td>
                                        <select name="theme">
                                            <option value="">Default Site Theme</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Flags</td>
                                    <td>
                                        <% ['Main-Menu', 'Sub-Menu', 'Account-Only', 'Admin-Only'].forEach(flagName => { %>
                                        <label>
                                            <input type="checkbox" name="flag[<%=flagName.toLowerCase()%>]"/>
                                            <%=flagName.replace('-', ' ')%>
                                        </label>
                                        <% })%>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label"></td>
                                    <td>
                                        <button type="submit" disabled>Update</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </form>
                <script src="/server/template/editor/client/article-editor.js"></script>
