/** Import Font **/
@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Advent Pro Regular'), local('AdventPro-Regular'), url(https://fonts.gstatic.com/s/adventpro/v9/V8mAoQfxVT4Dvddr_yOwhTmtKI5Z.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Advent Pro Regular'), local('AdventPro-Regular'), url(https://fonts.gstatic.com/s/adventpro/v9/V8mAoQfxVT4Dvddr_yOwhTStKI5Z.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Advent Pro Regular'), local('AdventPro-Regular'), url(https://fonts.gstatic.com/s/adventpro/v9/V8mAoQfxVT4Dvddr_yOwhTqtKA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/** Background Image **/
body.theme-minimal-afoh {
    color: #fff6d4;
    font-family: 'Advent Pro', monospace;
    /*font-size: 16px;*/
    background: #3d9be9;
    /* margin: 0 auto; */
    /*background: url(texture/default.background.png) no-repeat fixed center;*/
}

/** Hyperlinks **/
.theme-minimal-afoh > header a,
.theme-minimal-afoh > footer a,
.theme-minimal-afoh > article > section a {
    color: #FFF;
    /*text-decoration: none;*/
    /* text-decoration-color: #CCCC; */
}

/** Header **/
body.theme-minimal-afoh > header {
    background: linear-gradient(to bottom, #487bb3 0%, #88a9cc 1%,#487bb3 2%,#1b589b 98%,#022035 100%);
}
body.theme-minimal-afoh > header .title {
    font-size: 2.5em;
    max-width: 238px;
    font-weight: bold;
    margin: 5px;
}

/** Header Tags **/
.theme-minimal-afoh h1, .theme-minimal-afoh h2,  .theme-minimal-afoh h3, .theme-minimal-afoh h4, .theme-minimal-afoh h5, .theme-minimal-afoh h6 {
    color: #fff6d4;
    text-shadow: #000 1px 1px 1px;
}

/** Footer **/
body.theme-minimal-afoh > footer {
    background: linear-gradient(to top, #3d9bea 0%, #6eb4ef 100%);
    /* background: url(texture/footer.background.png); */
}



/** Navigation **/
.theme-minimal-afoh content-nav {
    font-size: larger;
}

/** Navigation Menu Colors **/
.theme-minimal-afoh content-nav ul.menu > li:hover > a,
.theme-minimal-afoh content-nav ul.submenu {
    background-color: #294a6f;
}
.theme-minimal-afoh content-nav ul.submenu > li:hover > a {
    background-color: #4377b0;
}





/** Page Articles & Sections **/
body.theme-minimal-afoh > article {
    background-color: #f5d06f;
}

body.theme-minimal-afoh > section,
body.theme-minimal-afoh > article > section,
body.theme-minimal-afoh > footer {
    margin: 0px auto;
    max-width: 800px;
    padding: 12px 16px;
    /* border: 1px solid #CCC; */
    text-shadow: #6669 1px 1px 1px;
}

/** Page Sections **/
.theme-minimal-afoh > article > section {
    background: #3785c5;
}



/** Themed Containers **/
.theme-minimal-afoh div.themed,
.theme-minimal-afoh > article > section.themed {
    /* text-shadow: #000 1px 1px 1px; */
    background-color: #ab6428ed;
    /* box-shadow: 2px 2px 4px #0008; */
    border-radius: 2px;
}



/** Paragraphs **/

.theme-minimal-afoh p {
    max-width: 800px;
    margin: auto;
    text-align: justify;
    text-indent: 8px;
    /* text-shadow: #000 1px 1px 1px; */
}


.theme-minimal-afoh p.themed {
    /*text-shadow: #000 1px 1px 1px;*/
    background-color: #0e171fa6;
    border-radius: 4px;
    margin: 5px 0.5em;
    padding: 0.5em;
}

/** Images **/
.theme-minimal-afoh img.themed {
    width: 100%;
    box-shadow: 0px 0px 8px #000;
}


/** Custom Text **/

.theme-minimal-afoh .page-quote {
    display: block;
    text-align: right;
    text-shadow: #000 1px 1px 1px;
    transform: scaleY(0.6);
    font-size: larger;
    font-weight: bold;
}